<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X UA-Compactible" content="IE=edge">
    <title></title>
    <meta name=" description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
             <h3>signin</h3>

             <form action="/signin" method="post">
                 {% csrf_token %}

                 <label for="">Username</label>
                 <input type="text" id="username" name="username" placeholder="Enter your Username" Required>
                 <br>

                  <label for="">Password</label>
                 <input type="password" id="pass1" name="pass1" placeholder="Enter your Password" required>
                 <br>



                 <button type="submit">signin</button>

             </form>
        <script src="" async defer></script>
        </body>

</html>

































